.section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-transform: uppercase; */
}

/* Dot Navigation 스타일 */
.dot-navigation {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.dot {
    width: 15px;
    height: 15px;
    padding-right: 15px;
    box-sizing: border-box;

    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: var(--accent-color);
    border-radius: 50%;

    font-family: "Crimson Pro";
    font-size: 18px;
    color: transparent;
    white-space: nowrap;
    /* 줄바꿈 일어나지 않게 하는 속성 */
    transition: all 0.3s;
    /* 기본적으로 이름 숨김 */    
}

.dot.active {
    background-color: var(--main-text-color);
    color: var(--main-text-color);
    border-color: var(--main-text-color);
}

.dot:hover {
    background-color: var(--main-text-color);
    color: var(--accent-color);
}