@media screen and (max-width:1200px) {

}

@media screen and (max-width:1024px) {
    .profile-page {
        padding: 80px 0;
    }

    h2 {
        font-size: 48px;
    }

    .profile-img {
        width: 280px;
        height: 350px;
    }

    .detail-container {
        gap: 100px;
    }

    h3 {
        font-size: 28px;
    }

    .about-me-container {
        gap: 20px;
    }

    .about-me-tg {
        width: 100%;
    }

    .about-me-tg > li {
        font-size: 20px;
    }

    .about-me-tg p:last-child {
        font-size: 18px;
    }

    .about-me-explain {
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width:900px) {
    .branding-tg::after {
        width: 500px;
        top: 70%;
    }

    h1 {
        font-size: 80px;
    }

    .branding-tg>p {
        font-size: 20px;
        line-height: 30px;
    }

    .branding-tg>p>span {
        font-size: 22px;
    }

    .moving-text span {
        font-size: 120px;
    }

    .profile-page {
        padding: 80px 0;
    }

    .detail-container {
        gap: 50px;
    }

    h3 {
        font-size: 28px;
    }

    .about-me-container {
        gap: 20px;
    }

    .about-me-tg {
        width: 100%;
    }

    .about-me-tg p:last-child {
        font-size: 18px;
    }

    .about-me-explain {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width:768px) {
    body > section {
        padding: 0 16px;
    }
    
    .branding-tg {
        padding-left: 5%;
    }

    .branding-tg::after {
        width: 450px;
        top: 67%;
    }

    h1 {
        font-size: 60px;
    }

    .branding-tg>p {
        font-size: 18px;
        line-height: 30px;
    }

    .branding-tg>p>span {
        font-size: 20px;
    }

    .moving-text span {
        font-size: 100px;
    }

    .profile-page {
        padding: 80px 0;
    }

    h2 {
        font-size: 36px;
    }

    .detail-container {
        flex-direction: column;
        gap: 0;
    }

    .profile-img {
        width: 250px;
    }

    h3 {
        text-align: center;
        font-size: 28px;
    }

    .about-me-container {
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .about-me-tg > li {
        font-size: 18px;
    }

    .about-me-tg p:last-child {
        font-size: 18px;
    }

    .about-me-explain {
        font-size: 18px;
        line-height: 24px;
    }
}


@media screen and (max-width: 480px) {
    .branding-tg {
        padding-left: 0;
    }

    .branding-tg::after {
        display: none;
    }

    h1 {
        font-size: 50px;
    }

    .moving-text span {
        font-size: 80px;
    }

    .responsive-br {
        display: none;
    }

    .about-me-explain {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width:360px) {}