@media screen and (max-width:1200px) {
    .line-long::before {
        width: 200px;
    }

    .line-long>.date,
    .line-long>.company {
        left: 53%;
    }

    .line-vertical::after {
        font-size: 60px;
    }

    .pentagon {
        width: 200px;
        height: 200px;
    }

    .character2 {
        top: 30%;
        left: 20%;
    }

    .character5 {
        top: 31%;
        right: 21%;
    }

    .character3 {
        bottom: 32%;
        left: 32%;
    }

    .character4 {
        bottom: 32%;
        right: 29%;
    }

    .project {
        width: 100%;
        gap: 4;
    }
}

@media screen and (max-width:1024px) {
    .profile-page {
        padding: 80px 0;
    }

    h2 {
        font-size: 48px;
    }

    .profile-img {
        width: 280px;
        height: 350px;
    }

    .detail-container {
        gap: 100px;
    }

    h3 {
        font-size: 28px;
    }

    .about-me-container {
        gap: 20px;
    }

    .about-me-tg {
        width: 100%;
    }

    .about-me-tg>li {
        font-size: 20px;
    }

    .about-me-tg p:last-child {
        font-size: 18px;
    }

    .about-me-explain {
        font-size: 18px;
        line-height: 24px;
    }

    .line-vertical::before,
    .line-short::after,
    .line-short::before,
    .line-long::after,
    .line-long::before {
        left: 27%;
    }

    .line-long>.date,
    .line-long>.company {
        left: 58%;
    }

    .date {
        font-size: 22px;
    }

    .company-name {
        font-size: 16px;
    }

    .tabs {
        gap: 80px;
    }

    .tabs button {
        font-size: 20px;
    }

    .self-introduction::before {
        font-size: 60px;
        top: 5%;
    }

    .self-introduction::after {
        width: 1000px;
    }

    .self-introduction>li>p {
        font-size: 20px;
    }

    .self-introduction>li>span {
        font-size: 18px;
    }

    .character::after {
        font: 60px;
    }

    .character li {
        font-size: 20px;
    }






    .project-tg {
        gap: 20px;
    }

    .project-name {
        font-size: 70px;
    }

    .project-tg>p {
        font-size: 22px;
    }

    .project-tg>.explain {
        font-size: 16px;
        line-height: 20px;
    }

    .project-tg>ul .category {
        font-size: 18px;
    }

    .view-button {
        height: 40px;
    }

    .view-button>a {
        font-size: 18px;
    }

    .imac {
        width: 400px;
        height: 345px;
    }

    .imac-inner {
        width: 380px;
        height: 205px;
    }

    .furniture-color {
        line-height: 50px;
        /* br넣기 */
    }

    .furniture::before {
        content: 'Responsive \A Website';
        width: 300px;
        color: var(--shadow-color);
        font-family: "Crimson Pro";
        font-weight: 600;
        font-size: 120px;
        line-height: 130px;
        font-style: italic;
        position: absolute;
        left: 2%;
        bottom: 6%;

    }










}

@media screen and (max-width:900px) {
    .branding-tg::after {
        width: 500px;
        top: 70%;
    }

    h1 {
        font-size: 80px;
    }

    .branding-tg>p {
        font-size: 20px;
        line-height: 30px;
    }

    .branding-tg>p>span {
        font-size: 22px;
    }

    .moving-text span {
        font-size: 120px;
    }

    .profile-page {
        padding: 80px 0;
    }

    .detail-container {
        gap: 50px;
    }

    h3 {
        font-size: 28px;
    }

    .about-me-container {
        gap: 20px;
    }

    .about-me-tg {
        width: 100%;
    }

    .about-me-tg p:last-child {
        font-size: 18px;
    }

    .about-me-explain {
        font-size: 18px;
        line-height: 22px;
    }

    .character::after {
        /* font: 60px; */
        left: 0;
    }

    .character2 {
        left: 15%;
    }

    .character5 {
        right: 15%;
    }
}

@media screen and (max-width:830px) {
    .self-introduction::before {
        font-size: 50px;
        top: 8%;
    }

    .self-introduction>li>p {
        font-size: 18px;
    }

    .self-introduction>li>span {
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    body>section {
        padding: 0 16px;
    }

    .branding-tg {
        padding-left: 5%;
    }

    .branding-tg::after {
        width: 450px;
        top: 67%;
    }

    h1 {
        font-size: 60px;
    }

    .branding-tg>p {
        font-size: 18px;
        line-height: 30px;
    }

    .branding-tg>p>span {
        font-size: 20px;
    }

    .moving-text span {
        font-size: 100px;
    }

    .profile-page {
        padding: 80px 0;
    }

    h2 {
        font-size: 36px;
    }

    .detail-container {
        flex-direction: column;
        gap: 0;
    }

    .profile-img {
        width: 250px;
    }

    h3 {
        text-align: center;
        font-size: 28px;
    }

    .about-me-container {
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .about-me-tg>li {
        font-size: 18px;
    }

    .about-me-tg p:last-child {
        font-size: 18px;
    }

    .about-me-explain {
        font-size: 18px;
        line-height: 24px;
    }

    .line-vertical::before,
    .line-short::after,
    .line-short::before,
    .line-long::after,
    .line-long::before {
        left: 10%;
    }

    .line-long>.date,
    .line-long>.company {
        left: 40%;
    }

    .line-short>.date,
    .line-short>.company {
        left: 25%;
    }

    .line-long::before {
        width: 150px;
    }

    .line-vertical::after {
        display: none;
    }

    .date {
        font-size: 20px;
    }

    .company-name {
        font-size: 16px;
    }

    .tabs {
        gap: 50px;
    }

    .tabs button {
        font-size: 18px;
    }

    .self-introduction::before {
        top: 10%;
    }

    .responsive-br-introduction {
        display: none;
    }

    .character::after {
        display: none;
    }

    .pentagon {
        width: 150px;
        height: 150px;
    }

    .character li {
        font-size: 18px;
    }

    .character1 {
        left: 43%;
    }

    .character2 {
        left: 16%;
    }

    .character5 {
        top: 30%;
        right: 17%;
    }

    .character3 {
        bottom: 42%;
        left: 28%;
    }

    .character4 {
        bottom: 42%;
        right: 25%;
    }

}

@media screen and (max-width: 650px) {
    .character1 {
        left: 41%;
    }

    .character2 {
        left: 5%;
    }

    .character5 {
        right: 10%;
    }

    .character3 {
        left: 20%;
    }

    .character4 {
        right: 15%;
    }
}

@media screen and (max-width: 600px) {
    .line-long::before {
        width: 60px;
    }

    .line-long>.date,
    .line-long>.company {
        left: 25%;
    }

    .tabs {
        gap: 20px;
    }

    .tabs button {
        font-size: 16px;
    }

    .tabs button {
        padding: 5px;
    }
}

@media screen and (max-width: 550px) {
    .pentagon {
        width: 120px;
        height: 120px;
    }

    .character1 {
        top: 4%;
    }

    .character3,
    .character4 {
        bottom: 27%;
    }

    .character5,
    .character2 {
        top: 30%;
    }

    .character li {
        font-size: 16px;
    }

    .character {
        height: 300px;
    }
}


@media screen and (max-width: 480px) {
    .branding-tg {
        padding-left: 0;
    }

    .branding-tg::after {
        display: none;
    }

    h1 {
        font-size: 50px;
    }

    .moving-text span {
        font-size: 80px;
    }

    .responsive-br {
        display: none;
    }

    .about-me-explain {
        font-size: 16px;
        line-height: 20px;
    }

    .line-long::before,
    .line-short::before {
        max-width: 45px;
    }

    .tabs {
        gap: 10px;
    }

    .self-introduction::before {
        display: none;
    }

    .self-introduction::after {
        display: none;
    }

    .self-introduction {
        padding-top: 0px;
    }

    .resume-page {
        padding: 80px 0;
        height: 450px;
        gap: 50px;
    }
}

@media screen and (max-width:420px) {
    .pentagon {
        width: 100px;
        height: 100px;
    }

    .character1 {
        left: 38%;
    }

    .character5 {
        right: 0;
    }

    .character2 {
        left: 0;
    }

    .character3 {
        left: 10%;
    }

    .character4 {
        right: 6%;
    }

    .character3,
    .character4 {
        bottom: 34%;
    }

    .character5,
    .character2 {
        top: 29%;
    }

    .character li {
        font-size: 16px;
    }
}

@media screen and (max-width:360px) {

    .line-long::before,
    .line-short::before {
        max-width: 30px;
    }

    .tabs {
        flex-direction: column;
        gap: 10px;
        padding: 40px 0;
    }
}